#section1{
    padding-top: 120px;
    padding-bottom: 100px;
    background-image: url(../images/les2Alpes_bw.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    position: relative;
}

#section1 h1{
    padding: 0px 0px  0px 10%;
    font-size: 100px;
    color: white;
    font-family: "Sarabun-ExtraBold";

}


#section1 h2{
    padding: 0px 0px  20px 10%;
    font-size: 30px;
    color: white;
    font-family: "HeaderFont";
    font-style: italic;
    letter-spacing: 0.1em;
    text-shadow: black 1px 1px 3px;

}


#section1 h3{
    padding: 10px 0px  20px 10%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: "HeaderFont";
    width: 450px;
    text-shadow: black 1px 1px 3px;

}


#section1 h5{
    width: fit-content;
    right: 10px;
    bottom: 5px;
    position: absolute;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: "Sarabun-ExtraBold";
    font-weight: bolder;
    text-shadow: black 1px 1px 3px;
}


.title1-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0s;
}

.title1-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}


.title2-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.3s;
}

.title2-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

.title3-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.5s;
}

.title3-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

#section2 {
    text-align: center;
    background:#b2d2db;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;

    background-image: url(../images/aboutback2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#section2 h1{
    padding:40px 0px 70px 0px;
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-family: "Sarabun-ExtraBold";
    
}

#stepsDiv{
    width: 1185px;
    display: flex;
    place-content: space-between;
}

.step{
    display: flex;
    flex-direction: column;
    place-content: center;
    padding:10px 14px;
    align-items: center;
    background-color: rgba(226, 226, 226, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.step_arrow{
    display: flex;
    flex-direction: column;
    place-content: center;
    padding:10px 61px;
    align-items: center;
}

.step h2{
    color: rgb(41, 41, 41);
    font-family: "Sarabun-ExtraBold";
    font-size: 30px;
    margin-bottom: 20px;
}

.step img{
    height: 80px;
}

.step_arrow img{
    height: 60px;

}

#stepDetailDiv{
    background-color: rgba(233, 233, 233, 0.3);
    backdrop-filter: blur(10px);    width: 1095px;
    margin: 30px 0px;
    border-radius: 10px;
    padding: 15px 45px;

}

#stepDetailDiv ul{
    list-style-type: disc;
    list-style-position: inside;
    text-align: left;
    font-size: 25px;
    font-family: "TitleFont";
}

#stepDetailDiv ul li{
    margin: 10px 0px;
}

#toolsDiv{
    width: 1185px;
    display: flex;
    place-content: space-between;

}

.tool{
    width: 579px;
    background-color: rgba(225, 225, 225, 0.3);
    backdrop-filter: blur(10px);    display: flex;
    align-items: center;
    text-align: left;
    border-radius: 10px;
}

.tool p{
    padding: 30px;
    font-family: "TitleFont";
    font-size: 25px;
}

.tool img{
    padding: 20px;
    width: 80px;
}


.step1-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0s;
}

.step1-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0s;
}


.step2-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.3s;
}

.step2-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}


.step3-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.6s;
}

.step3-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}


.step4-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.9s;
}

.step4-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}


.step5-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 1.2s;
}

.step5-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}


.stepDetailDiv-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.1s;
}

.stepDetailDiv-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}



.step7-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.2s;
}

.step7-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}



.step8-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.5s;
}

.step8-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}


#sectiongit{
    height: 300px;
    background-color: rgb(243, 239, 235);
    overflow: hidden;
    display: flex;
    place-content: center;
    align-items: center;
    position: relative;
}

#gitDiv{
    position: relative;
    width: 1185px;
    height: 300px;
}

#gitDiv img{
    position: absolute;
    top: -30px;
    left: -200px;
    height: 400px;
}

#gitDiv p{
    font-size: 27px;
    position: absolute;
    top:165px;
    left: 285px;
    font-family: 'TitleFont';
    background-color: rgb(229 226 223);
    padding: 10px 15px;
    border-radius: 10px;
    width: 865px;
}


.gittxt-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.5s;
}

.gittxt-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}





#cvxu{
    height: auto;
    background: rgb(246,195,155);
    background: linear-gradient(61deg, rgba(246,195,155,1) 0%, rgba(176,167,254,1) 100%);
 display: flex;
    place-content: center;
    align-items: center;
    position: relative;
}

#cvxu h2{
    font-family: 'TitleFont';
    margin:50px 0px 10px 0px;
    font-size: 35px;
    color: rgb(56, 56, 56);
}

#cvxu p{
    color: rgb(69, 69, 69);

    font-size: 20px;
    margin-bottom: 50px;
}



#section4{
padding: 120px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;

    
    background-image: url(../images/end.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#section4 h1{
    color: white;
    font-size: 50px;
    font-family:"MarckScript" ;
}


#section4 h3{
    color: white;
    padding: 20px 0px;
    font-size: 35px;
    font-family:"MarckScript" ;
}