#section1{
    background-image: url(../images/R_cut.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    place-content: center;
    align-items: center;
    transition: ease-in-out 0.3s;
}

#section1 h1{
    font-size:70px;
    font-family: 'Sarabun-Thin';
    color: white;
    letter-spacing: .2em;
    text-shadow: black 2px 2px 10px;
}

#section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(23, 23, 23);
    padding-bottom: 60px;
}

#section2 h1{
    padding: 60px 0px 40px 0px;
    font-size: 40px;
    color: white;
    text-transform:uppercase;

}

.listActs{
    display: flex;
    place-content: center;
}

.listActs div{
    padding: 30px 15px 15px 15px;
    width: 380px;
}

.listActs div img{
    width: 380px;
    height: 250px;
    object-fit: cover;
}

.listActs div p{
    padding: 15px 25px;
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
    color: white;
    width: calc(100% - 50px);
    margin: 20px 0px;
    font-size: 22px;
}


#section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(23, 23, 23);
    padding-bottom: 40px;
}

#section3 h1{
    padding: 60px 0px 40px 0px;
    font-size: 40px;
    color: white;
    text-transform:uppercase;

}

.line{
    width: 84%;
    height: 1px;
    border-top: 1px solid rgb(84, 84, 84);
}

.listReady{
    display: flex;
    place-content: center;
}

.listReady div{
    padding: 15px;
    width: 380px;
}

.listReady div h3{
    padding: 15px 25px;
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
    color: white;
    width: calc(100% - 50px);
    margin: 20px 0px;
    font-size: 25px;
}

.listReady div p{
    padding: 15px 25px;
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
    color: white;
    width: calc(100% - 50px);
    margin: 20px 0px;
    font-size: 22px;
}


#section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(23, 23, 23);
    padding-bottom: 80px;
}

#section4 h1{
    padding: 60px 0px 40px 0px;
    font-size: 40px;
    color: white;
    text-transform:uppercase;

}

#section4 h3{
    padding: 10px 15px;
    border-radius: 10px;
    background-color:rgb(14 97 150);
    font-size: 30px;
    color: rgb(255, 255, 255);
}



.listCareer{
    display: flex;
    place-content: center;
}


.listCareer div{
    margin-top: 10px;
    padding: 15px;
    width: 266px;
}

.listCareer div h3{
    padding: 15px 25px;
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
    color: white;
    width: calc(100% - 50px);
    margin: 20px 0px;
    font-size: 25px;
}

.listCareer div p{
    padding: 15px 25px;
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
    color: white;
    width: calc(100% - 50px);
    margin: 20px 0px;
    font-size: 22px;
}



#section5{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(23, 23, 23);
    padding-bottom: 80px;
}

#section5 h1{
    padding: 60px 0px 40px 0px;
    font-size: 40px;
    color: white;
    text-transform:uppercase;

}

#section5 h3{
    padding: 10px 15px;
    border-radius: 10px;
    background-color:#fe9c40;
    font-size: 30px;
    color: rgb(0, 0, 0);
    max-width: 830px;

}

.listCareer2{
    display: flex;
    flex-direction: column;
    max-width: 860px;

    margin-top: 30px;

}

.listCareer2 div{
    padding: 12px 0px;
}

.listCareer2 div h3{
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
    color: white;
    width: calc(100% - 50px);
    font-size: 25px;
}

.listCareer2 div p{
    padding: 15px 15px;
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
    color: white;
    font-size: 22px;
}


.s1-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0s;

}

.s1-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}
.s2-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.1s;

}

.s2-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}
.s3-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.2s;

}

.s3-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}
.s4-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.3s;

}

.s4-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}
.s5-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.4s;

}

.s5-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}
.s6-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.5s;

}

.s6-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}
.e1-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0s;

}

.e1-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}
.e2-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.3s;

}

.e2-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}
.e3-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.6s;

}

.e3-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}
.e4-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.7s;

}

.e4-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}
.l1-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0s;

}

.l1-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}
.l2-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.2s;

}

.l2-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}
.l3-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.4s;

}

.l3-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

.l4-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.6s;

}

.l4-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}


.l5-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.8s;

}

.l5-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}


.l6-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 1s;

}

.l6-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}