#section1{
    background-image: url(../images/R_cut.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    place-content: center;
    align-items: center;
    transition: ease-in-out 0.3s;
}

#section1 h1{
    font-size:70px;
    font-family: 'Sarabun-Thin';
    color: white;
    letter-spacing: .2em;
    text-shadow: black 2px 2px 10px;
}