#secion1 {
    background-color: #ececec;
    display: flex;
    place-content: center;
    align-items: center;
    padding: 50px 0px 50px 0px;
    flex-direction: column;
}

#photoWall {
    width: 1200px;
    height: 540px;
    position: relative;
    margin-bottom: 30px;
}

.photo {
    position: absolute;
    background-color: #c1c1c1;
    box-shadow: #0000001a 0px 2px 5px 2px;
    object-fit: cover;
}

#Tests {
    width: 1200px;
    display: flex;
    place-content: space-between;
}

#Tests h2 {
    font-family: "Sarabun-Thin";
    font-size: 20px;
    letter-spacing: .3em;
}


.pht1-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.3s;
}

.pht1-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}


.pht2-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.1s;
}

.pht2-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

.pht3-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.5s;
}

.pht3-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

.pht4-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 1.1s;
}

.pht4-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

.pht5-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.8s;
}

.pht5-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

.pht6-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 1s;
}

.pht6-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

.pht7-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.3s;
}

.pht7-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

.pht8-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 1.1s;
}

.pht8-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

.pht9-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.5s;
}

.pht9-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}


/* ------------------section2---------------------- */

#section2 {
    background-color: #e6e3e1;
    display: flex;
    height: 4040px;
    place-content: center;
    align-items: center;
    padding: 50px 0px 50px 0px;
    flex-direction: column;
    position: relative;
}


#mainTitle {
    font-size: 55px;
    top: 100px;
    position: absolute;
    text-transform: uppercase;
}

#subTitle {
    margin: 80px 0px 10px 0px;
    font-size: 25px;
    background-color: #279edd;
    backdrop-filter: blur(5px);
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    top: 110px;
    position: absolute;
}

#textEnd {
    max-width: 1000px;
    text-align: left;
    font-size: 22px;
    bottom: 80px;
    position: absolute;
    line-height: 32px;
}

.em {
    font-size: 20px;
    padding: 2px 5px;
    border-radius: 8px;
    background: #279edd;
    color: white;
}

#exp_back_line {
    position: absolute;
    top: 500px;
    left: 50%;
    width: 12px;
    transform: translate(-50%, 0px);
}

.exp_left {
    position: absolute;
    margin: 0px 50px;
    text-align: right;
    right: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.exp_right {
    position: absolute;
    left: 50%;
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.exp_left h2 {
    font-size: 22px;
}

.exp_left p {
    margin-top: 10px;
    width: 500px;
}

.exp_right h2 {
    font-size: 22px;

}

.exp_right p {
    margin-top: 10px;
    width: 500px;

}


.desc_left {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.desc_left img {
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px 0px;
}

.desc_left p {
    margin-top: 10px;
    max-width: 550px;
}

.desc_right {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.desc_right img {
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px 0px;
    image-rendering: optimizeSpeed;

}

.desc_right img{
    transition: ease-in-out 0.3s;
}

.desc_left img{
    transition: ease-in-out 0.3s;
}

.desc_right img:hover{
    z-index: 10;
    transform: scale(1.02);
    transition-delay: 0s !important;
}

.desc_left img:hover{
    z-index: 10;
    transform: scale(1.02);
    transition-delay: 0s !important;

}



.desc_right p {
    margin-top: 10px;
    max-width: 550px;
}



#exp1 {
    top: 450px;
}

.exp1-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.3s;

}

.exp1-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

#desc1 {
    top: 350px;
}

.desc1-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;

}

.desc1-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}


#exp2 {
    top: 900px;
}

.exp2-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.3s;

}

.exp2-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

#desc2 {
    top: 800px;
}

.desc2-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
}

.desc2-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

#exp3 {
    top: 1350px;
}

.exp3-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.3s;

}

.exp3-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

#desc3 {
    top: 1250px;
}

.desc3-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
}

.desc3-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

#exp4 {
    top: 1800px;
}

.exp4-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.3s;

}

.exp4-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

#desc4 {
    top: 1700px;
}

.desc4-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
}

.desc4-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

#exp5 {
    top: 2250px;
}

.exp5-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.3s;

}

.exp5-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

#desc5 {
    top: 2150px;
}

.desc5-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
}

.desc5-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

#exp6 {
    top: 2700px;
}

#sheetpic{
    transition: ease-in-out 0.3s;
}

#sheetpic:hover{
    z-index: 10;
}

.exp6-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.3s;

}

.exp6-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

#desc6 {
    top: 2600px;
}

.desc6-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
}

.desc6-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

.picSki-show{
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s !important;
    transition-delay: 2s !important;

}

.picSki-hide{
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;

}

#exp7 {
    top: 3150px;
}

.exp7-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.3s;

}

.exp7-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

#desc7 {
    top: 3050px;

}

.desc7-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
}

.desc7-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

#exp8 {
    top: 3600px;
}

.exp8-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
    transition-delay: 0.3s;

}

.exp8-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}

#desc8 {
    top: 3500px;
}

.desc8-show {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: ease-in-out 1s;
}

.desc8-hide {
    opacity: 0 !important;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}