:root {
    --theme-color-1: #1d1d1d;
    --theme-color-2: #3083e8;
    --theme-color-3: #FFA500;
}

* {
    padding: 0px;
    margin: 0px;
}

p,h1,h2,h3,h4,a{
    text-wrap:wrap;
    font-family: 'Sarabun-ExtraBold';
}

body {
    background-color: var(--theme-color-1);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

section {
    width: 100%;
}

/* ----------------------------header------------------------ */

header {
    height: 50px;
    background-color: #161616;
    width: 100%;
    display: flex;
    align-items: center;
}

#headerFront{
    width: 10%;
    height: 50px;
}

#headerBack{
    width: 10%;
    height: 50px;
}

header ul{
    display: flex;
    width: 80%;
    place-content: center;
    height: 50px;
    align-items: center;
}

header ul li{
    padding:0px 20px;
    font-size: 15px;

}

header ul a{
    color: white;
    font-family: 'HeaderFont';
}

header ul a:hover{
    /* text-decoration: underline; */
    border-bottom: 2px solid #a3d2ff;
}


#homeLink{
    display: flex;
    height: 50px;
    align-items: center;
    margin-left: 20px;

}
#homeLink img{
    width: 20px;
}

#headerName{
    width: fit-content;
    margin-left: auto;
    line-height: 50px;
    margin-right: 20px;
    color: white;
    font-family: 'HeaderFont';
}


/* --------------------------footer------------------------ */


footer {
    height: 250px;
    background-color: #161616;
    width: 100%;
}


/* animations */

.dynamicShow {
    opacity: 0;
}


.fade-in{
    animation: fade-in 1.5s ease-in-out alternate;
}


.fade-out{
    animation: fade-out 1.5s ease-in-out alternate;
}

.fade-up-in {
    animation: fade-up-in 2s ease-in-out alternate;
}

.fade-down-in {
    animation: fade-down-in 1s ease-in-out alternate;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-up-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-down-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}




/* fonts */

@font-face {
    font-family: 'TitleFont';
    src: url('../fonts/BreeSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'HeaderFont';
    src: url('../fonts/Manrope-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Niconne';
    src: url('../fonts/Niconne-Regular.ttf') format('truetype');
}




@font-face {
    font-family: 'MarckScript';
    src: url('../fonts/MarckScript-Regular.ttf') format('truetype');
}



@font-face {
    font-family: 'PatuaOne';
    src: url('../fonts/PatuaOne-Regular.ttf') format('truetype');
}




@font-face {
    font-family: 'Calistoga';
    src: url('../fonts/Calistoga-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sarabun-ExtraBold';
    src: url('../fonts/Sarabun/Sarabun-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Sarabun-ExtraLight';
    src: url('../fonts/Sarabun/Sarabun-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Sarabun-Thin';
    src: url('../fonts/Sarabun/Sarabun-Thin.ttf') format('truetype');
}